/* font-size
기본
    font-size: 17px;
조금 작게
    font-size: 15px;
가장 작게
    font-size: 13px;
타이틀
    font-size: 21px;
    font-size: 23px;
*/

/* color
1.포인트컬러-블루
background-color: #5A7BEF;

2.메인컬러-그레이
딥그레이
background-color: #6E7481;
미들그레이
background-color: #ADB3BF;
라이트그레이
background-color: #F3F5F9;

별로 안 중요한 라인 같은 것들
border-bottom : #E3E7F0;

3.서브컬러
민트
background-color: #30D0B6;
핑크
background-color: #ED4481;
딥블루
background-color: #24256C;
*/


/*-------------font-------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*------------common--------------*/
* {margin: 0; padding: 0;}
body {font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a {text-decoration: none;}
/*가운데정렬*/
.layout_align {width: 1024px; margin: 0 auto;}
/*섹션타이틀*/
.sec_title {padding: 80px 0 50px 0; box-sizing: border-box; text-align: center;}
.sec_title p {color: #8e98ad; margin-bottom: 5px;}
.sec_title h2 {font-size: 26px; font-weight: 600;}
.sec_title_box {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.sec_title_more strong {display: none;}
.sec_title_more span {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F3F5F9;
  border-radius: 50%;
  transition: all .3s;
}
.sec_title_more span:hover {
  background-color: #5A7BEF;
  color: white;
}

/*------------top_bn-------------*/
.top_bn_outer {
  display: block;
  height: 60px;
  background-color: #5A7BEF;
}
.top_bn {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  box-sizing: border-box;
  color: white;
}
.top_bn .texts {
  display: inline-block;
  color: white;
  margin: 0 auto;
}
.top_bn .texts img {
  height: 22px;
  width: auto;
  margin: 0 10px;
  vertical-align: bottom;
}
.top_bn .top_bn_arrow,
.top_bn .top_bn_close {vertical-align: bottom;}
.top_bn .top_bn_close {
  cursor: pointer;
}


/*------------header--------------*/
.header .logo {
  width: 196px;
  height: 54px;
}
.header .logo img {
  display: block;
  width: 100%;
  height: auto;
}
.gnb {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.search {
  position: relative;
}
.search input {
  width: 500px;
  height: 40px;
  margin: 7px 0;
  padding: 0 40px 0 20px;
  outline: none;
  border: 1px solid #ADB3BF;
  border-radius: 20px;
  box-sizing: border-box;
}
.search .search_icon {
  position: absolute;
  top: 50%; right: 10px;
  transform: translateY(-50%);
  color: #ADB3BF;
  cursor: pointer;
}

.gnb_menu {
  display: flex;
}
.gnb_menu a {
  width: 50px;
  height: 54px;
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  color: #6E7481;
}
.gnb_menu a img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto 5px auto;
}
.lnb_container {display: flex;}
.lnb {
  width: 120px;
}
.lnb a {
  font-weight: 500;
  color: black;
}
.all_menu_icon {
  vertical-align: bottom;
}
.main_menu {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 20px;
}
.main_menu li {
  display: inline-block;
  margin-right: 50px;
}
.main_menu li:last-child {
  margin-right: 0;
}
.main_menu li a {
  font-weight: 500;
  color: #6E7481;
}
.main_menu li:hover a {
  color: black;
}
.main_menu li a:active {
  color: #5A7BEF;
}


/*------------main_visual_swiper--------------*/
.main_visual_outer {
  height: 250px;
  margin-bottom: 200px;
  background-color: #F1F2F7;
}
.main_visual_outer .swiper {
    padding-top: 45px;
}
.main_visual_outer .swiper-slide {
  width: 53%;
}
.main_visual_outer .swiper-slide img {
  width: 100%;
}
.main_visual_outer .swiper-button-prev {
  left: 20.2%;
  color: #ADB3BF;
}
.main_visual_outer .swiper-button-next {
  right: 20.2%;
  color: #ADB3BF;
}
.main_visual_outer .swiper-pagination-bullet-active {
  background-color: #5A7BEF;
}


/*------------metapho_menu--------------*/
.metapho_menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.metapho_menu a {
  display: inline-block;
  width: 67px;
  text-align: center;
  color: #6E7481;
}
.metapho_menu a div {
  position: relative;
  width: 67px;
  height: 67px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: all .2s;
}
.metapho_menu a div img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.metapho_menu a:hover{
  font-weight: 600;
  color: #5A7BEF;
}
.metapho_menu a:hover div{
  background-color: #F1F2F7;
}
.metapho_menu a:active div{
  background-color: #d7d9df;
}


/*------------hotdeal--------------*/
.countdown {text-align: center; margin-bottom: 50px;}
.countdown li {display: inline-block;}
.countdown li span {display: block;}
.hotdeal_items a {color: black;}
.hotdeal_items .top_item {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  background-color: #F1F2F7;
  border-radius: 25px;
  height: 350px;
}
.hotdeal_items .top_item>div {flex: 1;}
.top_item .top_item_img {
  border-radius: 25px 0 0 25px;
  text-indent: -999999px;
  background: url('../img/hotdeal_03.jpg') no-repeat center center/100%;
  transition: background-size .3s ease;
}
.top_item:hover .top_item_img {
  background-size: 104%;
}
.hotdeal_items .top_item_img img {
  display: block;
  width: 100%;
  height: auto;
  transition: all .3s ease;
}
.top_item:hover .top_item_img img {
  width: 104%;
  height: auto;
}
.top_item:hover .texts_box p {
  text-decoration: underline;
}

.top_item_texts {display: table;}
.texts_box {display: table-cell; vertical-align: middle;}
.texts_box p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.texts_box ul li,
.bottom_item_texts ul li {
  display: inline-block;
  margin: 0 5px 5px;
}
.texts_box ul li:nth-child(1),
.bottom_item_texts ul li:nth-child(1) {
  color: #cfcfcf;
}
.texts_box ul li:nth-child(2),
.bottom_item_texts ul li:nth-child(2) {
  color: red;
}
.texts_box span {
  font-size: 20px;
}

.hotdeal_items .bottom_items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.bottom_items .bottom_item_img {
  margin-bottom: 20px;
  background-color: #F1F2F7;
  border-radius: 25px;
  height: 150px;
  overflow: hidden;
  text-indent: -999999px;
  background: url('../img/hotdeal_01.png') no-repeat center center/100%;
  transition: background-size .3s ease;
}
.bottom_item:hover .bottom_item_img {
  background-size: 110%;
}
.bottom_items li:nth-child(2) .bottom_item_img {
  background-image: url('../img/hotdeal_02.jpg');
}
.bottom_items li:nth-child(3) .bottom_item_img {
  background-image: url('../img/hotdeal_04.png');
}
.bottom_item_texts ul li {font-size: 14px;}


.hotdeal_items .bottom_items li {
  flex: 1;
}
.hotdeal_items .bottom_items li a {
  display: block;
  width: 100%;
  height: 250px;
  text-align: center;
  border-radius: 20px;
}


/*------------sale--------------*/
.sale {
  padding: 50px 0 150px 0;
}
.sale .swiper_container {
  position: relative;
}
.sale .swiper-wrapper {
  width: 80%;
}
.sale .swiper-button-prev {
  left: 0%;
  color: #ADB3BF;
}
.sale .swiper-button-next {
  right: 0%;
  color: #ADB3BF;
}
.sale .item {
  color: black;
}
.sale .item ul li:nth-child(1) {
  font-size: 16px;
  height: 48px;
}
.sale .item ul li:nth-child(2) span {
  font-size: 14px;
  margin-right: 10px;
  color: red;
}
.sale .item ul li:nth-child(2) strong {
  font-size: 22px;
}
.sale .item div {
  width: 100%;
  overflow: hidden;
}

/*------------new--------------*/
.new_outer {
  padding: 50px 0 150px 0;
  background-color: #F1F2F7; 
}
.new .swiper {
  height: 300px;
  background-color: white;
}


/*------------recommend--------------*/
.recommend_outer {
  padding: 50px 0 150px 0;
  background-origin: padding-box;
}

#rcm01, #rcm02, #rcm03, #rcm04, #rcm05 {display: none;}
#rcm01:checked ~ .recommend_label .rcm_lab01,
#rcm02:checked ~ .recommend_label .rcm_lab02,
#rcm03:checked ~ .recommend_label .rcm_lab03,
#rcm04:checked ~ .recommend_label .rcm_lab04,
#rcm05:checked ~ .recommend_label .rcm_lab05 {
  display: block;
  color: white;
  background-color: #5A7BEF;
}
#rcm01:checked ~ .recommend_sheet .recommend_sheet01,
#rcm02:checked ~ .recommend_sheet .recommend_sheet02,
#rcm03:checked ~ .recommend_sheet .recommend_sheet03,
#rcm04:checked ~ .recommend_sheet .recommend_sheet04,
#rcm05:checked ~ .recommend_sheet .recommend_sheet05 {
  display: block;
}
#rcm01 ~ .recommend_sheet .recommend_sheet01,
#rcm02 ~ .recommend_sheet .recommend_sheet02,
#rcm03 ~ .recommend_sheet .recommend_sheet03,
#rcm04 ~ .recommend_sheet .recommend_sheet04,
#rcm05 ~ .recommend_sheet .recommend_sheet05 {
  display: none;
}

.recommend_label {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.recommend_label label {
  padding: 5px 20px;
  color: #5A7BEF;
  border: 1px solid #5A7BEF;
  border-radius: 20px;
  transition: all .2s;
}
.recommend_label label:hover {
  background-color: #9aadf3;
  border: 1px solid #9aadf3;
  color: white;
}

.recommend_sheet {
  height: 520px;
}
.recommend_sheet_box {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: 520px;
}
.rec_item_box {
  flex: 1;
  justify-items: center;
}
.rec_item {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}
.rec_txts {
  position: absolute;
  top: 100%; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  box-sizing: border-box;
  display: table;
  transition: all .2s;
}
.rec_txts>div {
  display: table-cell;
  vertical-align: middle;
}
.rec_txts span {font-size: 14px;}
.rec_txts p {
  font-size: 18px; 
  font-weight: 700;
  margin-bottom: 5px;
}
.rec_txts strong {
  font-size: 18px;
  color: #30D0B6;
}
.rec_item:hover .rec_txts {
  top: 0;
}

.rec_middle_box {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  gap: 20px;
}
.rec_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -99999px;
}

.rec_box1 {height: 520px;}
.rec_box2-1 {height: 350px;}
.rec_box2-2 {height: 150px; margin-top: 20px;}
.rec_box3-2 {height: 350px; margin-top: 20px;}

.recommend_sheet02 .rec_box2-1,
.recommend_sheet02 .rec_box2-2 {height: 250px;}
.recommend_sheet02 .rec_box3-2 {height: 350px; margin: 0 0 20px 0;}

.recommend_sheet03 .rec_box3-2-1 {height: 350px; margin: 0 0 20px 0;}
.recommend_sheet03 .rec_box2-1 {height: 250px;}
.recommend_sheet03 .rec_box2-2 {height: 250px;}
.rec_img1 {background-image: url('../img/sale_05.png');}
.rec_img2-1 {background-image: url('../img/sale_03.png');}
.rec_img2-2 {background-image: url('../img/sale_01.png');}
.rec_img3-1 {background-image: url('../img/sale_01.png');}
.rec_img3-2 {background-image: url('../img/sale_01.png');}
.rec_img3-3 {background-image: url('../img/sale_01.png');}



/*------------sec_banner--------------*/
.sec_banner {
  height: 150px;
  border-radius: 20px;
  background-color: #6E7481;
}



/*------------best--------------*/
.best {padding: 50px 0 100px 0;}
.best_items {
  display: flex;
  gap: 20px;
  height: 400px;
  text-align: center;
}
.best_items>a {
  flex: 1;
  border-radius: 20px;
  background-color: #ccc;
}
.best_items a {
  color: black;
}
.best_items>div {
  flex: 2;
}
.best_items .best_2to5>ul {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  height: 190px;
}
.best_items .best_2to5>ul:last-child {
  margin-bottom: 0;
}
.best_items .best_2to5>ul li {
  flex: 1;
  border-radius: 20px;
  background-color: #ccc;
}

.sneck_items, .etc_items {display: none;}



/*------------best--------------*/
.best_category {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
.best_category>div {
  flex-grow: 1;
  text-align: center;
  background-color: #F1F2F7;
  border-top: 1px solid #d7d9df;
  border-left: 1px solid #d7d9df;
  border-right: 1px solid #d7d9df;
  border-radius: 10px 10px 0 0;
  transition: all .2s;
}
.best_category_active {
  background-color: white !important;
  border-top: 1px solid #ADB3BF !important;
  border-left: 1px solid #ADB3BF !important;
  border-right: 1px solid #ADB3BF !important;
  font-weight: 500;
  text-decoration: underline;
}



/*------------review--------------*/
.review {
  padding-bottom: 150px;
  margin-bottom: 150px;
}
.review .swiper-wrapper {
  height: 400px;
}
.review .swiper {
  height: 300px;
  background-color: #9aadf3;
  overflow: visible;
}
.review .swiper-slide {
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #9aadf3;
}
.review .swiper-slide ul li {
  margin-top: 10px;
}
.review .swiper-slide img {
  display: block;
  width: 99%;
  height: 250px;
  background-color: #ccc;
}
.review .swiper-slide em {
  color: #6E7481;
}



/*------------campaign--------------*/
.campaign_outer {
  padding: 50px 0 150px 0;
  background-color: #F1F2F7;
}
.more_btn a {
  margin: 30px auto 0 auto;
  text-align: center;
  display: block;
  width: 340px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  color: black;
  transition: all .2s;
}
.more_btn a:hover {
  border: 1px solid #5A7BEF;
  color: #5A7BEF;
  font-weight: 500;
}



/*------------info--------------*/
.info {
  padding: 100px 0;
  display: flex;
  gap: 40px;
}
.notice {
  flex: 2;
}
.account, .cs {
  flex: 1;
}
.info_title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
.info_title a {
  font-size: 14px;
  color: #6E7481;
}
.info_list li {
  padding: 10px 0;
  border-bottom: 1px solid #caccd1;
}
.info_list li:first-child {
  border-top: 2px solid #d0d2da;
}
.info_list li:last-child {
  border-bottom: 2px solid #caccd1;
}
.info_list li a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.info_list li a p {
  color: black;
  font-size: 14px;
  line-height: 30px;white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  width: 90%;
}
.info_list li a span {
  font-size: 12px;
  color: #6E7481;
}
.account_item {
  padding: 10px 0;
  border-top: 1px solid #caccd1;
  font-size: 14px;
}
.account_item:first-child {
  border-top: 2px solid #caccd1;
}
.account_item:last-child {
  border-bottom: 2px solid #caccd1;
}
.account_item span {
  font-size: 12px;
  color: #6E7481;
}

.cs_info {
  background-color: #F1F2F7;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 260px;
  text-align: center;
  color: #6E7481;
}
.cs_tel {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #5A7BEF;
}
.cs_tel span {
  background-color: #5A7BEF;
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  margin-right: 5px;
}
.cs_time, .cs_finish {
  font-size: 12px;
}
.cs_finish {
  margin: 12px 0 20px 0;
}
.cs_time p, .cs_finish p {
  font-size: 14px;
  margin: 5px 0 0 0;
}
.cs_bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cs_bottom li {
  flex: 1;
}
.cs_bottom li a {
  display: block;
  height: 50px;
  font-size: 12px;
  color: black;
  background-color: white;
  border-radius: 8px;
  color: #6E7481;
}
.cs_bottom li a span {margin: 5px 0 0 0;}


/*------------footer--------------*/
.footer {
  text-align: center;
  font-size: 14px;
  color: #6E7481;
  margin-bottom: 50px;
}
.footer a {
  color: #6E7481;
}
.footer_top {
  padding: 15px 0;
  border: 1px solid #F1F2F7;
}
.footer_top li {
  display: inline-block;
  margin-left: 20px;
}
.footer_top li:first-child {
  margin-left: 0;
}
.footer_info {
  padding: 20px;
  font-size: 12px;
  line-height: 20px;
}
.footer_info img {
  width: 150px;
  margin-bottom: 10px;
}
.footer_info p:last-child {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
}
